body {
    font-family: Arial, sans-serif;
}

.hero {
    height: 100vh;
    background-color: #0d6efd;
}
section {
    padding-top: 60px;
    padding-bottom: 60px;
}
.btn-primary:hover {
    background-color: #084298;
}
